@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
body{
    background-color: rgb(26, 22, 26);
      scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
/*1  */
/*2  */
/*3  */
/*4  */
/*5  */
/*6  */
/*7  */
/*8  */
/*9  */
/*10  */
/*6  */
/*6  */
/*6  */
/*6  */
/*6  */
